*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f4f4;
}

#openBtn{
    padding:14px 30px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:#6C63FF;
    color:white;
    font-size:18px;
}

.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.6);

    display:flex;
    justify-content:center;
    align-items:center;

    transition:.3s;
}

.hidden{
    opacity:0;
    visibility:hidden;
}

.modal{

    width:420px;
    max-width:90%;

    background:white;

    padding:30px;

    border-radius:15px;

    text-align:center;

    position:relative;

    animation:popup .4s ease;
}

@keyframes popup{

    from{
        transform:scale(.7);
        opacity:0;
    }

    to{
        transform:scale(1);
        opacity:1;
    }

}

.close{

    position:absolute;

    right:15px;

    top:10px;

    font-size:28px;

    cursor:pointer;

}

.modal h2{

    margin-bottom:15px;

}

.modal p{

    color:#555;

    margin-bottom:25px;

    line-height:1.6;

}

.book-btn{

    background:#ff6b00;

    color:white;

    border:none;

    padding:14px 30px;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

    transition:.3s;

}

.book-btn:hover{

    background:#e45f00;

}